/*------------- Variable ------------*/

:root {
  --iq-primary: #0063e5;
  --iq-primary-hover: #0483ee;
  --iq-light-primary: #d7d3f8;
  --iq-secondary: #6c757d;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-title-text: #23203c;
  --iq-body-text: #D1D0CF;
  --iq-body-bg: #080821;
  --iq-bg1: #0e193c;
  --iq-body-border: #393750;
  --iq-gold: #E6C75F;
  --iq-black: #000000;
}


8, 8, 33
14, 25, 60
